<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: common_header(~{::title},~{::link})">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Moj AutoServis</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>

<script type="text/javascript">
    $(document).ready(function() {
        $('#alert').hide();

        $('.registration-form-user').submit(function (e) {
            e.preventDefault();
            $('#submit-btn').prop('disabled', true);

            const form = $('.registration-form-user');
            const url = form.attr('action');
            $.ajax({
                method: "POST",
                url: url,
                data: form.serialize(),
                success: data => {
                    window.location.replace("/login?registered=true");
                },
                error: data => {
                    $('#error-text').text("Greška: " + data.responseText);
                    $('#alert').show();
                    $('#submit-btn').prop('disabled', false);
                }
            });
        });

    })
</script>

<div th:replace="~{header :: header}">Header</div>
<main role="main" class="container text-center">
    <form class="form-login-reg" method="post">
        <h1 class="h3 mb-3 font-weight-normal">Registracija autoservisa</h1>
        <div class="alert alert-danger" role="alert" id="alert">
            <span id="error-text"></span>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <label for="shopname" class="sr-only">Naziv autoservisa</label>
        <input type="text" id="shopname" name="shopname" class="form-control" placeholder="Naziv autoservisa" required autofocus>
        <label for="address" class="sr-only">Adresa autoservisa</label>
        <input type="text" id="address" name="address" class="form-control" placeholder="Adresa autoservisa" required autofocus>
        <label for="oib" class="sr-only">OIB autoservisa</label>
        <input type="text" id="oib" name="oib" class="form-control" placeholder="OIB autoservisa" required autofocus pattern="[0-9]{11}">
        <label for="name" class="sr-only">Ime vlasnika</label>
        <input type="text" id="name" name="name" class="form-control" placeholder="Ime vlasnika" required autofocus>
        <label for="surname" class="sr-only">Prezime vlasnika</label>
        <input type="text" id="surname" name="surname" class="form-control" placeholder="Prezime vlasnika" required autofocus>
        <label for="email" class="sr-only">E-mail vlasnika</label>
        <input type="email" id="email" name="email" class="form-control" placeholder="E-mail vlasnika" required autofocus>
        <label for="username" class="sr-only">Korisničko ime vlasnika</label>
        <input type="text" id="username" name="username" class="form-control" placeholder="Korisničko ime vlasnika" required autofocus>
        <label for="password" class="sr-only">Lozinka vlasnika</label>
        <input type="password" id="password" name="password" class="form-control" placeholder="Lozinka vlasnika" required>
        <button id="submit-btn" class="btn btn-lg btn-primary btn-block">Registriraj se</button>
    </form>
</main>
</body>
</html>