<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Moj AutoServis</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col">  <! detalji se otvore kada se klikne na gumb detalji određenog radnog naloga>
            <p><h3>Naziv radnog naloga</h3></p>
            <p>
                <div class="row">
                    <div class="col-1">Vlasnik:</div>
                    <div class="col-1">Ivo Ivić</div>
                </div>
                <div class="row">
                    <div class="col-1">Automobil:</div>
                    <div class="col">Audi A1</div>
                </div>
                <div class="row">
                    <div class="col-1">Datum:</div>
                    <div class="col">7.1.2020.</div>
                </div>
                <div class="row">
                    <div class="col-1">Kilometraža:</div>
                    <div class="col">75 000 km</div>
                </div>
                <div class="row">
                    <div class="col-3">Preporuka za izvanredan servis:</div>
                    <div class="col">DA</div>
                </div>
                <div class="row">
                    <div class="col-3">Status naloga:</div>
                    <div class="col">Otvoren</div>
                </div>
            </p>

            <div>
                <p>
                    <h3>Ukupna cijena: 1000 kn</h3>
                </p>
            </div>

            <div>
                <button type="button" class="btn btn-success">Spremi</button>
                <button type="button" class="btn btn-danger">Izbriši</button>
            </div>
        </div>
    </div>
</div>

</body>
</html>