<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: common_header(~{::title},~{})">
    <title>Pregled redovnog radnog naloga</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
</head>

<body>

<div th:replace="~{header :: header}">Header</div>

<main role="main" class="container">

    <script type="text/javascript">
        function closeRo() {

        }
    </script>

    <div class="row">
        <div class="col">
            <div class="row">
                <h3>Radni nalog izvanrednog servisa</h3>
            </div>
            <div class="row">
                <div class="col-md-3">Vlasnik:</div>
                <div class="col-md-4" th:text="${order.vehicle.owner.fullName}">Pero Perić</div>
            </div>
            <div class="row">
                <div class="col-md-3">Automobil:</div>
                <div class="col-md-4" th:text="${order.vehicle.vehicleModel}">Audi A1</div>
            </div>
            <div class="row">
                <div class="col-md-3">Datum dolaska na servis:</div>
                <div class="col-md-4" th:text="${#temporals.format(order.creationTime,'dd.MM.yyyy')}">7.1.2020.</div>
            </div>
        </div>
    </div>

    <p>
        <table style="width:100%">
            <tr>
                <th>Naziv stavke</th>
                <th>Cijena</th>
            </tr>
            <tr th:each="item : ${items}">
                <td th:text="${item.name}">Zamjena ulja</td>
                <td th:text="${#numbers.formatDecimal(item.price, 0, 'COMMA', 2, 'POINT')} + ' kn'">100 kn</td>
            </tr>
            <tr th:remove="all">
                <td>Zamjena ulja</td>
                <td>100 kn</td>
            </tr>
            <tr th:remove="all">
                <td>Popravak laka</td>
                <td>1000 kn</td>
            </tr>
        </table>
    </p>

    <p>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addPartModal">Dodaj rezervni dio</button>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addLaborModal">Dodaj uslugu</button>
    </p>

    <div>
        <p>
            <h3>Ukupna cijena: [[${#numbers.formatDecimal(order.price, 0, 'COMMA', 2, 'POINT')}]] kn</h3>
        </p>
    </div>

    <div>
        <button type="button" class="btn btn-success" onclick="closeRo();">Završi nalog</button>
        <button type="button" class="btn btn-danger" onclick="window.history.go(-1); return false;">Povratak</button>
    </div>

    <! modal za dodavanje usluge>
    <div class="modal" id="addServiceModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addServiceModalTitle">Dodavanje usluge</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Dodavanje usluge
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addPartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addPartModalTitle">Dodavanje rezervnog dijela</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Dodavanje rezervnog dijela.
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>


</main>

</body>
</html>