<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Moj AutoServis</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col">  <! detalji se otvore kada se klikne na gumb detalji određenog radnog naloga>
            <p><h3>Naziv radnog naloga</h3></p>
            <p>
            <div class="row">
                <div class="col-1">Vlasnik:</div>
                <div class="col-1">Ivo Ivić</div>
            </div>
            <div class="row">
                <div class="col-1">Automobil:</div>
                <div class="col">Audi A1</div>
            </div>
            <div class="row">
                <div class="col-1">Datum:</div>
                <div class="col">7.1.2020.</div>
            </div>
            <div class="row">
                <div class="col-2">Status naloga:</div>
                <div class="col">Otvoren</div>
            </div>
            </p>

        </div>
    </div>

    <p>
    <table style="width:100%">
        <tr>
            <th>Naziv Usluge</th>
            <th>Cijena</th>
        </tr>
        <tr>
            <td>Zamjena ulja</td>
            <td>100 kn</td>
        </tr>
        <tr>
            <td>Popravak laka</td>
            <td>1000 kn</td>
        </tr>
    </table>
    </p>

    <p>
        <button type="button" class="btn btn-primary">Dodaj uslugu</button>
    </p>

    <p>
        <table style="width:100%">
            <tr>
                <th>Naziv rezervnog dijela</th>
                <th>Cijena</th>
                <th>Kilometraža</th>
            </tr>
            <tr>
                <td>Motor</td>
                <td>100 kn</td>
                <td>50 km</td>
            </tr>
            <tr>
                <td>Sjedalo</td>
                <td>1000 kn</td>
                <td>94 km</td>
            </tr>
        </table>
    </p>

    <p>
        <button type="button" class="btn btn-primary">Dodaj rezervni dio</button>
    </p>

    <div>
        <p>
        <h3>Ukupna cijena: 1000 kn</h3>
        </p>
    </div>

    <div>
        <button type="button" class="btn btn-success">Spremi</button>
        <button type="button" class="btn btn-danger">Izbriši</button>
    </div>
</div>

</body>
</html>