<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" crossorigin="anonymous"></script>
</head>
<body>
<main role="main" class="container">
</main>

<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="roDetailsModal" aria-hidden="true">
    <div class="modal-dialog" th:fragment="content">
        <form method="post" th:action="@{/autoservice/priceList/parts}" id="form">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Rezervni dio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                    <input type="hidden" name="id" th:value="${part.partId}" />
                    <div class="form-group row">
                        <label for="partName" class="col-sm-6 col-form-label">Naziv:</label>
                        <div class="col-sm-5">
                            <input required type="text" class="form-control" name="partName" id="partName" th:value="${part.partName}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="estimatedDuration" class="col-sm-6 col-form-label">Predviđeno trajanje u km:</label>
                        <div class="col-sm-5">
                            <input type="number" min="0" max="10000000" step="1" class="form-control" name="estimatedDuration" id="estimatedDuration" required th:value="${part.estimatedDurationInKm}">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="price" class="col-sm-6 col-form-label">Cijena u kn:</label>
                        <div class="col-sm-5">
                            <input type="number" min="0.00" max="1000000.00" step="0.01" class="form-control" name="price" id="price" required th:value="${part.price}">
                        </div>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
                <button type="submit" id="save-part" class="btn btn-primary">Spremi</button>
            </div>
        </div>
        </form>
    </div>
</div>

</body>
</html>



