<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Moj AutoServis</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>

<body>

<script type="text/javascript">
    $(document).ready(function() {
        $('#addVehicle').click(function () {
            const regPlate = $('#vehiclePlate').innerText;
            $.ajax({
                method: "POST",
                url: "/user/vehicles",
                data: regPlate,
                success: data => {
                    location.reload();
                },
                error: data => {
                    $('.alert').show();
                }
            });
        })
    });
</script>

<div th:replace="~{fragments/header :: header}">Header</div>

<main role="main" class="container">

    <div class="row-mb-2">
        <h1>
            Dobrodošao, ime_korisnika!
        </h1>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-3"> <! tabovi>
                <div class="col"> <! navigation>
                    <div class="row">

                        <div class="col"> <! page navigation >
                            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Moji automobili</a>
                                <a class="nav-link" id="v-pills-open-tab" data-toggle="pill" href="" role="tab" aria-controls="v-pills-profile" aria-selected="false">Moji radni nalozi</a>
                            </div>
                        </div>
                        <div class="col-9">
                            <div class="tab-content" id="v-pills-tabContent">
                                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">

                                </div>
                                <div class="tab-pane fade" id="v-pills-open" role="tabpanel" aria-labelledby="v-pills-profile-tab">...</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col"> <! podatci>
                <p>
                    <div class="card">
                        <div class="card-header">
                            ZG 0602 AB
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Audi A1</h5>
                            <p class="card-text">Godina: 2019</p>
                            <p class="card-text">Broj šasije: 653212346789076987</p>
                            <p class="card-text">Status: Potreban redovan servis!</p>
                            <a href="#" class="btn btn-primary">Statistika</a>
                            <a href="#" class="btn btn-danger">Obriši</a>
                        </div>
                    </div>
                </p>
                <p>
                    <div class="card">
                        <div class="card-header">
                            ZG 1999 BA
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">BMW i8</h5>
                            <p class="card-text">Godina: 2019</p>
                            <p class="card-text">Broj šasije: 12345678900987654321</p>
                            <p class="card-text">Status: Potreban izvanredni servis!</p>
                            <a href="#" class="btn btn-primary">Statistika</a>
                            <a href="#" class="btn btn-danger">Obriši</a>
                        </div>
                    </div>
                </p>
            </div>

            <div class="col-2"> <! gumbi za upravljanje>
                <p><button type="button" class="btn btn-info" data-toggle="modal" data-target="#exampleModal">Dodaj automobil</button></p>
                <p><button type="button" class="btn btn-info" data-toggle="modal" data-target="#serviceOrderModal">Dodaj nalog</button></p>
                <p><button type="button" class="btn btn-info" data-toggle="modal" data-target="">Postavke računa</button></p>
            </div>
        </div>
    </div>

    <table class="table">
        <thead>

        </thead>
        <tbody>

        </tbody>
    </table>

    <! izbornik za dodavanje novog radnog naloga >
    <div class="modal fade" id="serviceOrderModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="serviceOrderModalTitle">Dodaj novi radni nalog</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <! izbornik za dodavanje automobila >
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Dodaj vozilo</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="alert alert-danger alert-dismissible fade show" role="alert" style="display: none;">
                        Ne postoji vozilo s tim registracijskim tablicama!
                        <button type="button" class="close" onclick="$('.alert').hide()">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="form-group row">
                        <label for="vehiclePlate" class="col-sm-5 col-form-label">Registracijske tablice:</label>
                        <div class="col-sm-5">
                            <input type="text" class="form-control" id="vehiclePlate">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
                    <button type="button" class="btn btn-primary" id="addVehicle">Dodaj</button>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- /.container -->

<script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
