<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="header :: common_header(~{::title},~{::link})">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Moj AutoServis</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>

<body>

<script type="text/javascript">
    $(document).ready(function() {
        $(document).ready(function() {
            $('#openRo').click(function () {
                $.post(urljoin(window.location.pathname, "/ro"),
                    {
                        'autoServiceId': $("#autoServiceSelect option:selected").val(),
                        'repairOrderType': $('#typeSelect option:selected').val()
                    }
                    ).done(() => location.reload())
                    .fail((xhr) => bootbox.alert("Dogodila se pogreška"));
            })
        });
    });

    function showModal(id) {
        const url = window.location.pathname + "/ro/" + id;
        $("#dynamic-load").load(url);
        $('#roDetailsModal').modal('show');
    }
</script>

<div th:replace="~{header :: header}">Header</div>

<main role="main" class="container">

    <p></p>

    <p>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#openRoModal" th:disabled="${roDisabled}">Otvori nalog</button>
        <button type="button" class="btn btn-danger" id="deleteVehicle" th:disabled="${roDisabled}" onclick="$('#deleteForm').submit();">
            <i class="fa fa-trash"></i>
            Izbriši vozilo</button>
    </p>

    <form style="visibility: hidden" id="deleteForm" method="post" th:action="'/user/vehicles/' + ${vehicle.vehicleId} + '/delete'"></form>

    <table class="table">
        <tr>
            <th>Auto servis</th>
            <th>Stanje</th>
            <th>Tip servisa</th>
            <th>Datum servisa</th>
            <th></th>
        </tr>
        <tr th:each="ro : ${repairOrders}" data-id="${ro.id}">
            <td th:text="${ro.autoService.shopName}"></td>
            <td th:switch="${ro.serviceJobStatus.name()}">
                <span th:case="ACCEPTANCE_WAITING">Na čekanju</span>
                <span th:case="IN_PROGRESS">Popravak u tijeku</span>
                <span th:case="FINISHED">Završen</span>
                <span th:case="REJECTED">Odbijen</span>
            </td>
            <td>
                <span th:if="${ro instanceof T(org.infiniteam.autoservice.model.RegularRepairOrder)}" th:text="Redovni"></span>
                <span th:if="${ro instanceof T(org.infiniteam.autoservice.model.RepairingRepairOrder)}" th:text="Izvanredni"></span>
            </td>
            <td th:text="${#temporals.format(ro.finishTime,'dd.MM.yyyy')}"></td>
            <td>
                <button type="button" class="btn btn-secondary" th:disabled="${!(ro.serviceJobStatus.name() == 'FINISHED' || ro.serviceJobStatus.name() == 'IN_PROGRESS')}" onclick="showModal(this.dataset.id);" th:attr="data-id=${ro.repairOrderId}">Detalji</button>
            </td>
        </tr>
    </table>

    <div class="modal fade" id="roDetailsModal" tabindex="-1" role="dialog" aria-labelledby="roDetailsLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Detalji radnog naloga</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="dynamic-load">
                    Should not be displayed!
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zatvori</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="openRoModal" tabindex="-1" role="dialog" aria-labelledby="openRoLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="openRoLabel">Otvori radni nalog</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="post">
                    <div class="form-group">
                        <label for="autoServiceSelect">Auto servis:</label>
                        <select class="form-control" id="autoServiceSelect">
                            <div th:each="as : ${autoServices}">
                            <option th:value="${as.autoServiceId}" th:text="${as.shopName}">Ime auto servisa</option>
                            </div>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="typeSelect">Vrsta servisa:</label>
                        <select class="form-control" id="typeSelect">
                            <option value="REGULAR_REPAIR_ORDER">Redovni servis</option>
                            <option value="REPAIRING_REPAIR_ORDER">Izvanredni servis</option>
                        </select>
                    </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Odustani</button>
                    <button type="button" class="btn btn-primary" id="openRo">Otvori</button>
                </div>
            </div>
        </div>
    </div>

</main>
<!-- /.container -->
</body>
</html>
